* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C1DFF0;
}

h2 {
    text-align: center;
    align-items: center;
    font-size: 5vmin;
    font-family: Copperplate;
    color: #904C77;
}
.container {
    background-color: #89BEDA;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 60vh;
    width: 60vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select, input, button {
    width: 100%;
   border: none;
   outline: none;
   border-radius: 0.75rem;
}

form input {
    padding-left: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 0.50rem;
    font-size: 1rem;
    height: 3rem;

}
form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}

form button:hover {
    background-color: #904c77;
}

.convertor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vh;
}
.from {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.to {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#from {
    height: 2.5rem;
    text-align: center;
    font-size: 1.0rem;
}
#to {
    height: 2.5rem;
    text-align: center;
    font-size: 1.0rem;
}

.convertor i {
    font-size: 3rem;
    color: #000;
    margin-top: 1rem;
}


